{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Trip Helpmate | Delete item {% endblock %}

{% block content %}
    <center>
    <h2>Confirm deletion</h2>
    <form class="mid-form" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ item.name }}"?</p>
        <input class="w3-button w3-dark-grey" type="submit" value="Confirm">
    </form>
    <button class="w3-button w3-dark-grey" onclick='location.href="{% url 'items-list' %}"'>Decline</button>
    </center>
{% endblock %}