{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Trip Helpmate | Delete activity from trip {{ item.name }} {% endblock %}

{% block content %}
    <center>
    <h2>Confirm deletion</h2>
    <form class="mid-form" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ plantrip.activity.activity }} from trip: {{ plantrip.trip.origin }} to {{ plantrip.trip.destination }}?</p>
        <input class="w3-button w3-dark-grey" type="submit" value="Delete">
    </form>
    <button class="w3-button w3-dark-grey" onclick='location.href="{% url 'trip-activities-list' plantrip.trip.pk %}"'>Decline</button>
    </center>
{% endblock %}