{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Trip Helpmate | Add item to trip {% endblock %}

{% block content %}
    <center>
    <h3>Add item to luggage</h3>
    <p>Trip from {{ trip.origin }} to {{ trip.destination }}</p>
    <div>
    <form class="mid-form" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="w3-button w3-dark-grey" type="submit" name="pack" value="Pack">
    </form>
    <button class="w3-button w3-dark-grey" onclick='location.href="{% url 'add-item' %}"'>Add new item</button>
    <button class="w3-button w3-dark-grey" onclick='location.href="{% url 'trip-items-list' trip.pk %}"'>Back</button>
    </div>
    </center>
{% endblock %}