{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Trip Helpmate | Delete image {% endblock %}

{% block content %}
    <center>
    <h2>Delete image</h2>
        <div>
            Are you sure to delete following image:<br>
            <img src="{{ picture.picture.url }}" height="350" width="450" alt="picture to delete">
        </div>
            <form class="mid-form" method="post">
                {% csrf_token %}
                {{ form|crispy}}<br>
                <input class="w3-button w3-dark-grey" type="submit" value="Confirm delete">
            </form>
            <button class="w3-button w3-dark-grey" onclick='location.href="{% url 'img-gallery' %}"'>Decline</button>
    </center>
{% endblock %}