{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Trip Helpmate | Reset password {% endblock %}

{% block content %}
    <center>
  <h2>Reset password</h2>
  <form class="mid-form" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}<br>
    <input class="w3-button w3-dark-grey" type="submit" value="Request Password Reset">
  </form>
        <button class="w3-button w3-dark-grey" onclick='location.href="{% url 'profile' %}"'>Back</button>
    </center>
{% endblock %}